/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.cesium-widget-credits {
  display: none !important;
}

/* TODO: remove not needed debug colors */
.cesium-viewer {
  background-color: red;
}

.cesium-viewer-cesiumWidgetContainer {
  background-color: blue;
}

.cesium-widget {
  background-color: cadetblue;
}

.rectangle-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.print-button-wrapper {
  margin-left: auto;
}
.rectangle-button {
  background-color: #123c6a;
  color: white;
  opacity: 0.9;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 4px;
}

.rectangle-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rectangle-prev {
  background-color: #123c6a;
  border-radius: 4px;
  opacity: 0.4;
}

.rectangle-close {
  margin-left: auto;
}

/* #preview-tooltip-text {
  font-size: min(3px + 1vw);
  max-width: 100%;
} */
