/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.cesium-widget-credits {
  display: none !important;
}

/* TODO: remove not needed debug colors */
.cesium-viewer {
  background-color: red;
}

.cesium-viewer-cesiumWidgetContainer {
  background-color: blue;
}

.cesium-widget {
  background-color: cadetblue;
}

.rectangle-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.rectangle-button {
  /* position: absolute; */
  background-color: #123c6a;
  color: white;
  opacity: 0.9;
  border: 1p solid #267bdcd4;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
}

.rectangle-prev {
  /* position: absolute; */
  background-color: #123c6a;

  opacity: 0.4;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%); */
}
