# nx and github vscode

/.github
/.nx
/.vscode

# package

package.json
package-lock.json

/coverage
/dist
/tmp

# Markdown files

*.md

# configs from boilerplate and nx generators

/nx.json
/tsconfig.*.json

project.json

eslint.config.cjs
eslint.config.ts

jest.config.cjs
jest.config.ts

jest.preset.cjs
jest.preset.ts

postcss.config.cjs
postcss.config.ts

tailwind.config.cjs
tailwind.config.ts

tsconfig.json
tsconfig.*.json

vite.config.cjs
vite.config.mts
vite.config.ts


# data, submodules, workers

*.geojson

manifest.json

/libraries/collaboration/carma-pecher-collab
/libraries/collaboration/carma-wuppertal-collab

**/public/data/**/*.json
**/public/data/**/*.geojson

**/public/dev/**/*.json

**/worker/**/*.js
**/workers/**/*.js
worker.js
service-worker.js
