@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: contain;
}

.ant-tooltip-arrow {
  display: none !important;
}

.modal-footer img[alt="Logo DigiTal Zwilling"] {
  max-height: 60px;
}

/* Make lists look good again */
ul {
  list-style: disc !important;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.modal-content svg,
.modal-content img {
  display: inline;
}

/* Menu */
div.leaflet-top.leaflet-right > .leaflet-control {
  position: fixed;
  right: max(10px, env(safe-area-inset-right));
  margin-right: 0 !important;
}
