/* You can add global styles to this file, and also import other style files */
.custom-left-control {
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}
