/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-left-control {
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  margin-left: 14px;
  margin-bottom: 5px;
}
