.measurement-table .ant-table-cell {
  white-space: nowrap;
}

.measurement-table .ant-table-thead > tr > th,
.measurement-table .ant-table-tbody > tr > td {
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Override Antd's intrinsic table paddings */
.ant-list-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div.ant-table-header,
div.ant-table-container {
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
