*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
}

body {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
}

.ant-tabs-nav {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.ant-tabs-tab {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-tabs-tab-active {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-tabs-bar {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
