@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: contain;
}

/* override tailwind base img display: image reset for proper infobox layout */
.leaflet-control * img {
  display: initial;
}

/* intermediate workaround for antd tooltip arrow to not show until bootstrap style interference is resolvedß */
.ant-tooltip-arrow {
  display: none !important;
}

.modal-footer img[alt="Logo DigiTal Zwilling"] {
  max-height: 60px;
}

/* Make lists look good again */
ul {
  list-style: disc !important;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

/* You can add global styles to this file, and also import other style files */
.custom-left-control {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 4px;
  margin-bottom: 5px;
}

.modal-content svg,
.modal-content img {
  display: inline;
}

.mode-container-switcher > div > table {
  width: calc(
    100vw - 6.5rem - max(10px, env(safe-area-inset-left)) -
      max(10px, env(safe-area-inset-right))
  ) !important;
  position: fixed !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.leaflet-right .leaflet-control {
  margin-right: 0 !important;
}

div.leaflet-top.leaflet-right {
  position: fixed;
  right: max(10px, env(safe-area-inset-right));
}

div.leaflet-top.leaflet-left {
  position: fixed;
  left: max(10px, env(safe-area-inset-left));
}

div.leaflet-bar.leaflet-control.hover-control {
  margin-left: 0 !important;
}

div.leaflet-bottom.leaflet-right {
  position: fixed;
  right: max(10px, env(safe-area-inset-right));
  bottom: max(16px, env(safe-area-inset-bottom));
  margin-bottom: 0px !important;
}
