.remove-margins {
  margin-left: -4px;
  margin-right: -4px;
}

@media (max-width: 639px) {
  .show-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }
  .show-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(0 0 0 / 0.3);
  }
  .show-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .full-width-tabs .ant-tabs-nav-list {
    width: 100%;
  }
  .full-width-tabs .ant-tabs-tab {
    flex: 1;
    justify-content: center;
  }
}
