.panel-base {
  background: rgba(42, 42, 42, 0.9);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 0.75rem;
  box-sizing: border-box;
  border-color: transparent;
}

.home-button-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1050;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.info-row-full {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
